<aside class="sidebar">
    <div class="shadow-box personal-info-box">
        <figure class="personal-info-avatar">
            <img src="http://elr-utilities.elizabeth-rogers.com/images/compressed/cat11-thumb.jpg" alt="">
        </figure>
        <div class="personal-info">
            <h3 class="personal-info-name">Elizabeth Rogers</h3>
            <h4 class="personal-info-role">Web Developer</h4>
            <h4 class="personal-info-location">San Antonio, Texas</h4>
        </div>
        <a href="/contact" class="elr-button elr-button-primary">Contact</a>
    </div>
</aside>