body {
    background-color: $light-blue;
    padding: 20px;

    @include elr-breakpoint($config: (point: 'jupiter')) {
        padding: 10px;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

a:not(.elr-button):not(.skill-link) {
    color: $link-color;
    transition: color .3s;

    &:hover {
        color: $accent-color;
    }
}

.wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    background-color: $off-white;
    box-shadow: 1px 1px 5px rgba($black, .1),
        -1px -1px 5px rgba($black, .1);
}

img {
    max-width: 100%;
    height: auto;
}

.shadow-box {
    background-color: $white;
    box-shadow: 1px 1px 5px rgba($black, .1);
    margin-bottom: 20px;
}

.main-content {
    padding: 30px;

    @include elr-breakpoint($config: (point: 'jupiter')) {
        padding: 20px;
    }
}

.page-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
}

.content-holder {
    flex-basis: 70%;
    flex-grow: 2;
}

.sidebar {
    flex-basis: 20%;
    flex-grow: 1;
    max-width: 400px;
    margin-right: 20px;

    @include elr-breakpoint($config: (point: 568px)) {
        max-width: 100%;
        margin-right: 0;
    }
}

.box-heading {
    font-size: to-rems(22px);
    border-bottom: $border;
    width: 100%;
    padding: 20px 30px;
    font-weight: 700;

    @include elr-breakpoint($config: (point: 960px)) {
        padding: 15px;
    }
}

.page-block-footer {
    font-size: to-rems(22px);
    border-bottom: $border;
    width: 100%;
    padding: 20px 30px;
    font-weight: 700;

    @include elr-breakpoint($config: (point: 960px)) {
        padding: 15px;
    }
}

.post-holder {
    display: flex;
    padding: 0 15px;
    justify-content: stretch;
    flex-wrap: wrap;

    @include elr-breakpoint($config: (point: 960px)) {
        flex-wrap: wrap;
    }

    .post-box {
        flex-grow: 1;
        flex-shrink: 1;

        @include elr-breakpoint($config: (point: 960px)) {
            width: 100%;
        }
    }
}

.read-more {
    font-family: 'roboto';
    font-size: to-rems(14px);
    font-weight: 300;
    margin-top: 10px;
    display: block;
}

.skills-holder {
    @include elr-clearfix;
}

.skill-link {
    background-color: $link-color;
    color: $white;
    float: left;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    transition: background-color .3s;

    &:hover {
        color: $white;
        background-color: $accent-color;
    }
}

.recommendation-body {
    padding: 0;
    margin: 0;
}

.recommendation-source {
    font-size: to-rems(14px);
    color: $darker-grey;
    line-height: 1.2;
}

.page-title {
    font-size: to-rems(36px);
    color: $accent-color;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 30px;
}

.content {
    padding: 20px 30px;
}
