body {
    background-color: $light-blue;
}

.wrapper {
    max-width: 1300px;
    width: 95%;
    margin: 20px auto;
    background-color: $off-white;
    box-shadow: 1px 1px 5px rgba($black, .1),
        -1px -1px 5px rgba($black, .1);
}

img {
    max-width: 100%;
    height: auto;
}
