{% extends "page.twig" %}
{% block content %}
  <article>
    <h1 class="page-title">Projects</h1>
    {% for type in types %}
      <h2 class="type-heading">{{type}}</h2>
      <div class="post-loop">
        {% for post in type.posts %}
          <div class="shadow-box post-box">
            {% include 'teases/tease-project.twig' with {'post': post} %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    {# {% include 'partials/pagination.twig' with {
      'posts' : posts
    } %} #}
  </article>
{% endblock %}
