{% extends "base.twig" %}

{% block content %}
<article class="elr-container">
    <section>
        {% block page %}
        <div class="elr-row">
            <div class="elr-col-quarter">
                <h3>Elizabeth Rogers</h3>
                <h4>Web Developer</h4>
                <h4>San Antonio, Texas</h4>
                <a href="/contact" class="elr-button elr-button-primary">Contact</a>
            </div>
            <div class="elr-col-three-fourths">
                {% if articles %}
                <div class="posts elr-row">
                    <h2>Posts</h2>
                    {% for article in articles %}
                        {% include 'tease-post.twig' with {'post': article} %}
                    {% endfor %}
                </div>
                {% endif %}
                {% if projects %}
                <div class="projects elr-row">
                    <h2>Projects</h2>
                    {% for project in projects %}
                        {% include 'tease-project.twig' with {'post': project} %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="elr-row">
                    <div class="elr-col-full">
                        <h2>Background</h2>
                        <h3>Summary</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quaerat ex atque similique labore quisquam deleniti, omnis modi, dolorem quo, explicabo quibusdam. Natus at nisi animi beatae eveniet accusamus, tempora laudantium numquam repellendus maiores quia velit id saepe iure perspiciatis impedit, perferendis. Tempore nisi quia, quasi nobis doloribus quidem at.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veritatis ea natus. Dignissimos sequi error molestias quasi facere neque voluptatibus officia quibusdam delectus, pariatur quos, similique aliquam consequatur officiis doloribus quo culpa et cupiditate numquam quisquam. Aut doloribus sapiente vel! Odio inventore provident sunt, at, aliquid perspiciatis hic minima optio.</p>
                        {% if experiences %}
                            <h3>Experience</h3>
                            {% for experience in experiences %}
                                {% include 'tease-experience.twig' with {'post': experience} %}
                            {% endfor %}
                        {% endif %}
                        {% if educations %}
                            <h3>Education</h3>
                            {% for education in educations %}
                                {% include 'tease-education.twig' with {'post': education} %}
                            {% endfor %}
                        {% endif %}
                        {% if skills %}
                            <h3>Skills</h3>
                            {% for skill in skills %}
                                {% include 'tease-skill.twig' with {'post': skill} %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% if recommendations %}
                <div class="recommendations elr-row">
                    <h2>Recommendations</h2>
                    {% for recommendation in recommendations %}
                        {% include 'tease-recommendation.twig' with {'post': recommendation} %}
                    {% endfor %}
                </div>
                {% endif %}
                {% if tutorials %}
                <div class="tutorials elr-row">
                    <h2>Tutorials</h2>
                    {% for tutorial in tutorials %}
                        {% include 'tease-tutorial.twig' with {'post': tutorial} %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </section>
</article>
{% endblock %}