{% extends "page.twig" %}

{% block page %}
    {% if articles %}
    <div class="shadow-box page-block">
        <div class="page-block-header">
            <h2 id="posts" class="box-heading">Articles</h2>
        </div>
        <div class="page-block-content post-holder">
            {% for article in articles %}
                {% include 'teases/tease-post.twig' with {'post': article} %}
            {% endfor %}
        </div>
        <div class="page-block-footer">
            <a href="/blog" class="elr-button elr-button-primary">Read More Articles</a>
        </div>
    </div>
    {% endif %}
    {% if projects %}
    <div class="shadow-box page-block">
        <div class="page-block-header">
            <h2 id="projects" class="box-heading">Projects</h2>
        </div>
        <div class="page-block-content post-holder">
            {% for project in projects %}
                {% include 'teases/tease-project.twig' with {'post': project} %}
            {% endfor %}
        </div>
        <div class="page-block-footer">
            <a href="/projects" class="elr-button elr-button-primary">View More Projects</a>
        </div>
    </div>
    {% endif %}
    <div class="background shadow-box">
        <h2 id="background" class="box-heading">Background</h2>
        {% if summary %}
        <div class="background-section">
            <h3 class="background-section-title">Summary</h3>
            {{summary}}
        </div>
        {% endif %}
        {% if experiences %}
        <div class="background-section">
            <h3 class="background-section-title" id="experience">Experience</h3>
            {% for experience in experiences %}
                {% include 'teases/tease-experience.twig' with {'post': experience} %}
            {% endfor %}
        </div>
        {% endif %}
        {% if educations %}
        <div class="background-section">
            <h3 class="background-section-title" id="education">Education</h3>
            {% for education in educations %}
                {% include 'teases/tease-education.twig' with {'post': education} %}
            {% endfor %}
        </div>
        {% endif %}
        {% if skills %}
        <div class="background-section">
            <h3 class="background-section-title" id="skills">Skills</h3>
            <div class="skills-holder">
                {% for skill in skills %}
                    <div class="skill-link">
                        <a href="skills/#{{skill.slug}}">{{skill.title}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% if recommendations %}
    <div class="recommendations shadow-box">
        <h2 id="recommendations" class="box-heading">Recommendations</h2>
        <div class="page-block-content post-holder">
            {% for recommendation in recommendations %}
                {% include 'teases/tease-recommendation.twig' with {'post': recommendation} %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if tutorials %}
    <div class="page-block shadow-box">
        <div class="page-block-header">
            <h2 id="tutorials" class="box-heading">Tutorials</h2>
        </div>
        <div class="page-block-content post-holder">
            {% for tutorial in tutorials %}
                {% include 'teases/tease-tutorial.twig' with {'post': tutorial} %}
            {% endfor %}
        </div>
        <div class="page-block-footer">
            <a href="/tutorials" class="elr-button elr-button-primary">View More Tutorials</a>
        </div>
    </div>
    {% endif %}
{% endblock %}